# ignorar:

# Ipython notebook checkpoints
.ipynb_checkpoints/*
tarea_2/.ipynb_checkpoints/*
tarea_3/.ipynb_checkpoints/*
tarea_4/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files:
/__pycache__/*
*.py[cod]

# logs
logs/*
*.log




# Bases de datos sqlite
tarea_2/data/*.sqlite3
tarea_3/data/*.sqlite3
tarea_4/data/*.sqlite3

tarea_2/pruebas/*
tarea_3/pruebas/*
