# ignorar:

# Ipython notebook checkpoints
.ipynb_checkpoints/*
tarea_1/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files:
/__pycache__/*
*.py[cod]

# logs
logs/*
*.log




# Bases de datos sqlite
tarea_1/data/*.sqlite3

tarea_1/pruebas/*